.wrapper {
    display: flex;
    gap: 3.5rem;
    justify-content: center;
    align-items: center;
    padding: 0 3rem;
    padding-bottom: 2rem;
}

.image-cards{
    width: 38%;
    display: flex;
    align-items: center;
    justify-content: end;
    
}

.powered {
    color: white;
    padding: 1rem;
    background-color: #1E1E1E;
    border-radius: 5px;
}

.content {
    width: 38%;
    h1 {
        font-size: 3.5rem;
        font-weight: 600;
        line-height: 110%;
        color: white;
        margin-top: 1.5rem;
        margin-bottom: 0;
        overflow: hidden;
    }
    h1 span {
        display: inline-block;
        transform: translateX(-100%);
      }
      
      h1 span.animate {
        animation: reveal 1.5s forwards;
      }
      
      @keyframes reveal {
        0% {
          transform: translateX(-100%);
        }
        100% {
          transform: translateX(0);
        }
      }

    p {
        margin-top: 3rem;
        margin-bottom: 3rem;
        width: 420px;
        line-height: 160%;
        opacity: .8;
        color: white;
        font-size: 1.3rem;
    }

    a {
        border-radius: 5px;
    }
}

.cta {
    display: flex;
    gap: 1rem;
}


@media screen and (max-width: 952px) {
    .wrapper {
        flex-direction: column-reverse;
        gap: 2rem;
        padding: 0 1rem;
    }

    .content {
      width: 450px;
        
        h1 {
            font-size: 2.5rem;
            width: 450px;
        }

        p {
            width: 100%;
        }
    }
  
}

@media screen and (max-width: 496px) {
    .wrapper {
        padding: 0 1rem;
    }

    .content {
        width: 100%;
        h1 {
            font-size: 2.5rem;
            width: 100%;
        }
    }
    
}